@model CucumberTechnicalTest.Models.CurrencyConverterModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="~/images/unicorn-face.png" />
	<title>Kelly Williams</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="~/css/site.css" rel="stylesheet" /> <!-- local css -->
	<script src="https://use.fontawesome.com/ed2735a033.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono" rel="stylesheet">

</head>
<body>
<nav class='nav justify-content-end' id='top main'>
	<a class='nav-link' href='https://kellymarjorie.github.io'>portfolio</a>
	<a class='nav-link' href='mailto:kellymarjoriewilliams@gmail.com?subject=Hi there, want to work together?'>contact</a>
</nav>

<div class='row justify-content-center'>
	<div class='col-7'>
		<p class='lead bold'><span class='em'>Cucumber</span> technical test.</p>
	</div>
</div>

<div class='row justify-content-center'>
	<div class='col-7 bio'>
		<p class='lead-bio'>Hi. Your name is @Model.YourNameHere.</p>
		<br>
		<p class='lead-bio'>You'd like @Model.ResultingText.</p>
	</div>
</div>
        
<div class='row navigate justify-content-end'>
	<a href="/Home/Index"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
</div>
            
        
</body>
</html>
